<!DOCTYPE H1 PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<Html>
<head>
	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scaleoperator=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Calculator</title>
</head>

<body>
<div class="heading">
	<H1>Calculator Application</H1>
</div>
<H3>Scope of the project is listed below :</H3>
<ul>
<li>It has basic operations like Addition ,Subtraction, Multiplication and Division</li>
<li>This is initial release and it currently supports operations with two variables only. </li>
</ul>

<H3>Choose a operation you wish to perform:</H3>

<button type="button" (click) = "getOperation('+')" class="operator" value="+">Addition</button>
<button type="button" (click) = "getOperation('-')" class="operator" value="-">Subtraction</button>
<button type="button" (click) = "getOperation('*')" class="operator" value="*">Multiplication</button>
<button type="button" (click) = "getOperation('/')" class="operator" value="/">Division</button>
<button type="button" (click) = "getOperation('%')" class="operator" value="%">Modulo</button>
<br> <br>
<div *ngIf="operation == '+'">
  <app-addition></app-addition>
</div>
<div  *ngIf="operation == '-'">
  <app-subraction></app-subraction>
</div>
<div *ngIf="operation == '/'">
  <app-division></app-division>
</div>
<div *ngIf="operation == '*'">
  <app-multiplication></app-multiplication>
</div>
<div *ngIf="operation == '%'">
  <app-moduloDivision></app-moduloDivision>
</div>

<footer class="footercss">Contributors :

<p>
	<li>Sahil - 2020MT93079</li> 
	<li>Melita D - 2020MT93167</li> 
	<li>Suryakant S- 2020MT93046</li>
	<li>Mohd Azhar Hussain-2020MT93127</li>
</p>
</footer>

</body>
</Html>

