.footercss{
	background-color:#f8f9fa;
  padding:10px 10 10px;
  font-size:15px;
  line-height:30px;
  color:#737373;
   margin:200px 0;
  font-family: Georgia, Times New Roman, Times, serif;
}

.operator{
	width: 8%;
	font-style: normal;
	padding: 1;
	 
}

.heading{
	text-align: center;
	background-color: purple;
	color:white;
	height:10%;
	padding: 1px;
}
